{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<main>
    <h1>Video Library</h1>
    <section class="container d-flex flex-wrap align-items-center justify-content-between">
        {% for film in films %}

            <div class="card m-3" style="width: 18rem;">
                <div class="card-header">
                    <img class="card-img-top" src="{{ film.poster }}" alt="{{ film.title }}">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ film.title }}</h5>
                    <a href="{{ path('films_app_film_details', {'id': film.id}) }}" class="btn btn-link">Details</a>
                </div>
            </div>
        {% endfor %}
    </section>
</main>
{% endblock %}
